*{margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
    box-sizing: border-box;
    }
    nav{background-color: white;height: 70px;}
    ul{list-style-type: none;
       float: right;
       margin-top:25px;
       
       }
    ul li{display: inline-block;}
    ul li a{text-decoration: none;
            color: grey;
            padding: 5px 20px;
            border: 1px ;
            
            }
      
    .logo img{float: left;}  
    .main{width: 1200px;
          margin: auto;position: fixed;z-index: 1;margin-left: 100px;}    
    .title{position: absolute;
          top:45%;
          left: 10%;
          transform: translate(-50%,-50%);
          text-align: center;z-index: 1;
          -webkit-backface-visibility: visible;
backface-visibility: visible;
animation-name: flip ;
animation-fill-mode: both ;
animation: flip 3s infinite;
          }
   .title p{color: white; font-size: 20px;}  
@keyframes flip {
0% {
transform: perspective(800px) rotate3d(0, 1, 0, -360deg);
animation-timing-function: ease-out;
}
40% {
transform: perspective(800px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
animation-timing-function: ease-out;
}
50% {
transform: perspective(800px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
animation-timing-function: ease-in;
}
80% {
transform: perspective(800px) scale3d(.95, .95, .95);
animation-timing-function: ease-in;
}
100% {
transform: perspective(800px);
animation-timing-function: ease-in;
}
} 

   .title h1{color:  #21618C;font-size: 28px;}    
   .button{position: absolute;
          top:70%;
          left: 50%;
          transform: translate(-50%,-50%);
          text-align: center;
          z-index: 1;
          animation: fadein 5s ;
}    
 @keyframes fadein{
   0% {opacity: 0;}
   25% {opacity: 0.2;}
   50%{opacity: 0.5;}
   75% {opacity: 0.7;}
   100%{opacity: 1;}
 }
          .btn{border: 1px solid gray;
          padding: 15px 30px;text-decoration: none;
          background-color: orangered;color: white;
          transition: 0.6s ease;}      
          .button input{ padding: 15px 30px;border: 1px solid gray;}     
          .btn:hover{background-color: orange;} 
          li.dropdown1{
                  display: inline-block;    clear: both;
              }
      .dropdown-container1{
          display: none;
          position: absolute;
          background-color:lightgray ;
          border: 1px solid white;
          min-width: 150px ;
          width: 95%;
          margin-left: -80px;
          z-index: 2;
          color: gray;
          
      }
      .dropdown-container1 div:hover{
          background-color: lightgray;
      }
      .dropdown1:hover .dropdown-container1{
          display: block;
      }
      .col1{
          width: 20%;
          float: left;
          padding: 30px;
      }
      .col2{
          width: 20%;
          float: left;
          padding: 30px;
      }
      .col3{
          width: 15%;
          float: left;
          padding: 30px;
          margin-top: 50px;
      }
      .col4{
          width: 20%;
          float: left;
          padding: 30px;
          margin-top: 50px;
      }
      h5{color: orangered;}          
body,#slider,.wrap,.slide-content {
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
width: 101%;
height: 108vh;

}

.wrap {
position: relative;
}

.slide {
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.slide1 {
background-image: url("ge.jpg");
}
.slide2 {
background-image: url("y.jpg");
}
.slide3 {
background-image: url("z.jpg");
}

.slide-content {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}

.slide-content span {
font-size: 5rem;
color: #fff;
}

.arrow {
cursor: pointer;
position: absolute;
top: 50%;
margin-top: -35px;
width: 0;
height: 0;
border-style: solid;
}

#arrow-left {
border-width: 30px 40px 30px 0;
border-color: transparent #fff transparent transparent;
left: 0;
margin-left: 30px;
}

#arrow-right {
border-width: 30px 0 30px 40px;
border-color: transparent transparent transparent #fff;
right: 0;
margin-right: 30px;
}
.green{background-color: seagreen;position: absolute;
    top: 111%;height: 130px;width: 100%;color: white;text-align: center;} 
.green h3{padding: 5px ;margin: 5px;margin-top: 10px}    
.green ul{float: left;text-align: center;padding:10px;margin: 20px;margin-left: 240px;}    
.green ul a{color: white}
.blue{background-color: skyblue;position: absolute;top: 131.5%;height: 500px;width: 1400px;display: flex}
.bcon{  width: 380px;height: 400px; text-align: center;
    background-color: white;padding: 10px 20px;margin: 32px;top: 134% }
.bcon img{ height:200px ;width:250px;transition: 0.6s ease;display: inline-block}   
.bcon img:hover{ height:220px ;width:270px}     
.bconx{padding:0px; margin: 0px}
.bcon button{background-color: green;border: 1px solid green;padding: 10px 20px;color: white}
.home{background-image: url("home.jpg");height: 300;position: absolute;
    top:211%;width: 100%;background-size: cover;  background-position: center center;   }

.home .is{color: darkblue;text-align: center;height: 150px;width: 800px;margin-left: 270px;margin-top: 70px}    
.some{background-color: wheat;position: absolute;height: 400px;width: 100%;top:259.1% ;}
.some .ui .mi img{height: auto;width: auto;
    transition: width .5s, height .5s, transform .5s; transition-timing-function: ease-in;}
.some .ui h2{margin-left: 30px;margin-top: 20px}
.some .ui p{margin-left: 30px;margin-top: 20px}
.some .ui .mi img:hover{transform: rotateY(180deg);}
.some .ui h2,p {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
  }
.some .ui .mi{width: 110px;height: 100px;text-align: center;display: inline-block;margin: 30px;margin-left: 100px}
.column {
    display: inline-block;
    width: 13.33%;
    padding: 15px;
    margin-left: 170px;
  }
  
  .row {
    position: absolute;
    top: 323%;
    width: 101%;
    background-color: lightgrey;
   
  }
  .column1 {
    display: inline-block;
    width: 13.33%;
    padding: 15px;
    margin-left: 170px;
  }
  
  .row1 {
    position: absolute;
    top: 350%;
    width: 100%;
    background-color: lightgrey;
   
  } 
  
  
   
    @media screen and (max-width: 800px) {
.green{float: left;width: 100%;height: 200px;z-index: 2; }
.green ul a{display: block;text-align: left;padding: 0;margin: 0;}
.bcon{width: 80px;height: 100px;z-index: 2;display: block;background:100%;text-align: justify;}
.bcon img{width: 80px;height: 100px;}
.bconx{width: 100%;}
.home{width: 100%;z-index: 2;}
.home .is{text-align: center;margin-left: -200px;}
  }
